openapi: 3.0.0
info:
  contact:
    email: api@bitly.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://bitly.com/pages/terms-of-service
  title: Bitly API
  version: 4.0.0
  x-logo:
    url: /v4/header-logo.png
servers:
- url: https://api-ssl.bitly.com/v4
security:
- bearerAuth: []
tags:
- description: |
    Groups are subdivisions within organizations. Every user will be in at least one group, and every shortened link will be in one group. Most actions on our API will be on behalf of a group. For example, when you shorten a link, it will be on behalf of a user and a group.
  name: Groups
- description: |
    Organizations are equivalent to a Bitly account. Every plan limit, group, and user is tied to an organization.
  name: Organizations
- description: |
    Some subscription plans allow multiple users. Only one user is used for authenticating a call, and these operations apply only to the authenticated user.
  name: User
- description: |
    Branded short domains (BSDs) are the custom domains used to brand your links. A BSD can be added to a Bitly organization and may be assigned to one or more groups. They can contain up to 32 characters.
  name: BSDs
- description: |
    Bitlinks are shortened links. They could begin with the bit.ly domain or your own custom branded short domain (BSD).
  name: Bitlinks
- description: "These endpoints are for updating custom Bitlinks only. Custom Bitlinks\
    \ have both a BSD and a customized back-half (e.g., yourcompany.com/yourcampaign).\
    \ If a link begins with the bit.ly domain or ends with an auto-generated random\
    \ string it is not a custom Bitlink. \n"
  name: Custom Bitlinks
- description: |
    Bitly Campaigns are used to build and organize links and metrics for marketing campaigns.
  name: Campaigns
- description: |
    Webhooks are a method of sending information from Bitly to an application outside of Bitly. It's a way to automate actions or updates between two different systems. These endpoints are for configuring your webhooks.
  name: Webhooks
- description: |
    Deeplinks refers to links that direct a user to a location inside of a mobile application. Bitly allows accounts to configure varying implementations of Deeplinks.
  name: Deeplinks
- description: |
    All endpoints under this tag are related to accounts subscribing to the Bitly service.
  name: Billing
- description: |
    Tiers references what level subscription a Bitly account is under.
  name: Tiers
- description: |
    SSO is an acronym for Single Sign-On. This relates to a method of authentication used by some Bitly accounts.
  name: SSO
- description: |
    Invitations allow new users to be invited to a Bitly organization via email or username. These endpoints handle both creation, retrieval, and deletion of invitations tied to an organization.
  name: Invitations
- description: |
    Bulk Shorten references the capability for users to upload a csv of links they would like to shorten and optionally customize.
  name: Bulk Shorten
- description: |
    Endpoints pertaining to the Clickstream nsq service.
  name: Clickstreams
- description: |
    A link launchpad is a customizable page that contains a collection of links. These endpoints allow for the customization of the links associated with this site and the appearance of the site itself.
  name: Launchpads
paths:
  /two_factor/country_calling_codes: {}
  /organizations/{organization_guid}/invitations: {}
  /campaigns/{campaign_guid}/clicks: {}
  /organizations/{organization_guid}/feature_usage: {}
  /organizations/{organization_guid}/clickstreams: {}
  /custom_domains/{custom_domain}: {}
  /deeplinks/rules: {}
  /deeplinks/rules/{deeplink_rule_guid}: {}
  /oauth/authorizations: {}
  /custom_domains: {}
  /deeplinks/bitlinks/{bitlink}/metrics/rollup: {}
  /launchpads/{launchpad_id}/views/summary: {}
  /groups/{group_guid}/referring_networks:
    get:
      description: Returns metrics by referring networks for the specified group's
        links.
      operationId: GetGroupMetricsByReferringNetworks
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickMetrics'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Get Click Metrics for a Group by Referring Networks
      tags:
      - Groups
  /bitlinks/{bitlink}/countries:
    get:
      description: Returns the country origins of click traffic for the specified
        link.
      operationId: getMetricsForBitlinkByCountries
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            text/csv:
              example: |
                Country, Clicks
                US, 5
              schema:
                $ref: '#/components/schemas/ClickMetrics'
            application/json:
              schema:
                $ref: '#/components/schemas/ClickMetrics'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Get Metrics for a Bitlink by Country
      tags:
      - Bitlinks
  /groups/{group_guid}/tags:
    get:
      description: Returns the tags currently used in the specified group. Maximum
        1000.
      operationId: getGroupTags
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve Tags by Group
      tags:
      - Groups
  /organizations/{organization_guid}/schedule_downgrade: {}
  /groups/{group_guid}/clicks:
    get:
      description: get number of clicks on bitlinks in a group
      operationId: getGroupClicks
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupClicks'
          description: SUCCESS
      summary: Get clicks by group
      tags:
      - Groups
  /bitlinks/{bitlink}/overrides_clicks_by_version: {}
  /organizations/{organization_guid}/payment_invoices/{invoiceID}/file: {}
  /deeplinks/bitlinks/{bitlink}/rules: {}
  /bulk_shorten/validate: {}
  /tiers: {}
  /domains/{domain}/status: {}
  /oauth/authorizations/{authorization_id}: {}
  /webhooks/{webhook_guid}:
    delete:
      description: Deletes a webhook.
      operationId: deleteWebhook
      parameters:
      - description: A GUID for a Bitly webhook
        example: Wa1bcDefG23
        explode: false
        in: path
        name: webhook_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "204":
          description: SUCCESS
      summary: Delete Webhook
      tags:
      - Webhooks
      x-premium: true
    get:
      description: Returns a webhook.
      operationId: getWebhook
      parameters:
      - description: A GUID for a Bitly webhook
        example: Wa1bcDefG23
        explode: false
        in: path
        name: webhook_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Retrieve Webhook
      tags:
      - Webhooks
      x-premium: true
    patch:
      description: Update a webhook
      operationId: updateWebhook
      parameters:
      - description: A GUID for a Bitly webhook
        example: Wa1bcDefG23
        explode: false
        in: path
        name: webhook_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Update Webhook
      tags:
      - Webhooks
      x-premium: true
  /organizations/{organization_guid}/shorten_counts:
    get:
      description: Returns the shorten counts for a specific organization over a specified
        time period.
      operationId: getOrganizationShortenCounts
      parameters:
      - description: A GUID for a Bitly organization
        example: Oa1bcd234eF
        explode: false
        in: path
        name: organization_guid
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Get Shorten Counts for an Organization
      tags:
      - Organizations
  /onboarding_survey: {}
  /oauth/apps/{client_id}/secret: {}
  /deeplinks/sdk/register: {}
  /launchpads: {}
  /emails/{email}/verify: {}
  /expand:
    post:
      description: Returns the short link and long URL for the specified link.
      operationId: expandBitlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpandBitlink'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedBitlink'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Expand a Bitlink
      tags:
      - Bitlinks
  /groups/{group_guid}/bitlinks_count/rollup: {}
  /organizations/{organization_guid}/payment_invoices: {}
  /bitlinks/{bitlink}/referrer_name: {}
  /bsds/search: {}
  /organizations/{organization_guid}:
    get:
      description: Retrive details for the specified organization.
      operationId: getOrganization
      parameters:
      - description: A GUID for a Bitly organization
        example: Oa1bcd234eF
        explode: false
        in: path
        name: organization_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve an Organization
      tags:
      - Organizations
  /share_accounts/{group_guid}: {}
  /organizations:
    get:
      description: Retrieve a list of organizations.
      operationId: getOrganizations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizations'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve Organizations
      tags:
      - Organizations
  /organizations/{organization_guid}/clickstreams/{clickstream_id}: {}
  /share: {}
  /launchpad_themes: {}
  /sso/organizations/{organization_guid}/settings: {}
  /groups/{group_guid}/devices:
    get:
      description: Returns the device types generating click traffic to the specified
        group's links.
      operationId: getGroupMetricsByDevices
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            text/csv:
              example: |
                Device Type, Clicks
                Desktop, 5
              schema:
                $ref: '#/components/schemas/DeviceMetrics'
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceMetrics'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
      summary: Get Click Metrics for a Group by Device Type
      tags:
      - Groups
      x-premium: true
  /oauth/apps: {}
  /organizations/{organization_guid}/invitations/{email}/resend: {}
  /groups/{group_guid}/countries:
    get:
      description: Returns the geographic origins of click traffic by country for
        the specified group.
      operationId: getGroupMetricsByCountries
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              example: |
                Country, Clicks
                US, 5
              schema:
                $ref: '#/components/schemas/ClickMetrics'
            application/json:
              schema:
                $ref: '#/components/schemas/ClickMetrics'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Get Click Metrics for a Group by Country
      tags:
      - Groups
  /bitlinks/{bitlink}/clicks/summary:
    get:
      description: Returns the click counts for the specified link rolled up into
        a single field.
      operationId: getClicksSummaryForBitlink
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClicksSummary'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Get a Clicks Summary for a Bitlink
      tags:
      - Bitlinks
  /custom_bitlinks/{custom_bitlink}/clicks_by_destination:
    get:
      description: Returns click metrics for the specified link by its historical
        destinations.
      operationId: getCustomBitlinkMetricsByDestination
      parameters:
      - description: A Custom Bitlink made of the domain and keyword
        example: chauncey.ly/chauncey
        explode: false
        in: path
        name: custom_bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickMetrics'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
      summary: Get Metrics for a Custom Bitlink by Destination
      tags:
      - Custom Bitlinks
      x-premium: true
  /events: {}
  /groups/{group_guid}/data_export: {}
  /bitlinks/{bitlink}:
    get:
      description: Returns information for the specified link.
      operationId: getBitlink
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitlinkBody'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve a Bitlink
      tags:
      - Bitlinks
    patch:
      description: Updates fields in the specified link.
      operationId: updateBitlink
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitlinkBody'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitlinkBody'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Update a Bitlink
      tags:
      - Bitlinks
  /bulk_shorten/{organization_guid}/uploads: {}
  /launchpads/{launchpad_id}/link_performance: {}
  /campaigns/{campaign_guid}:
    get:
      description: Returns details for a campaign.
      operationId: getCampaign
      parameters:
      - description: A GUID for a Bitly campaign
        example: Ca1bcd2EFGh
        explode: false
        in: path
        name: campaign_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
      summary: Retrieve a Campaign
      tags:
      - Campaigns
      x-premium: true
    patch:
      description: Updates a campaign's details.
      operationId: updateCampaign
      parameters:
      - description: A GUID for a Bitly campaign
        example: Ca1bcd2EFGh
        explode: false
        in: path
        name: campaign_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignModify'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Update Campaign
      tags:
      - Campaigns
      x-premium: true
  /users/{login}/delete: {}
  /deeplinks/apps: {}
  /custom_domains/{custom_domain}/appassociations: {}
  /user/sar: {}
  /users/{login}/groups: {}
  /payment_failure: {}
  /organizations/{organization_guid}/access_features: {}
  /custom_bitlinks/{custom_bitlink}/clicks:
    get:
      description: Returns the click counts for the specified link. This returns an
        array with clicks based on a date.
      operationId: getClicksForCustomBitlink
      parameters:
      - description: A Custom Bitlink made of the domain and keyword
        example: chauncey.ly/chauncey
        explode: false
        in: path
        name: custom_bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clicks'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
      summary: Get Clicks for a Custom Bitlink's Entire History
      tags:
      - Custom Bitlinks
  /org_emails: {}
  /emails/{email}: {}
  /roles: {}
  /bitlinks/{bitlink}/referring_domains:
    get:
      description: Returns the referring domain click counts for the specified link.
      operationId: getMetricsForBitlinkByReferringDomains
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickMetrics'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Get Metrics for a Bitlink by Referring Domains
      tags:
      - Bitlinks
  /groups/{group_guid}:
    get:
      description: Returns details for a group.
      operationId: getGroup
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve a Group
      tags:
      - Groups
    patch:
      description: Updates the details of a group.
      operationId: updateGroup
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Update a Group
      tags:
      - Groups
  /user/two_factor/sms/code/send: {}
  /clickstreams/sinks: {}
  /organizations/{organization_guid}/clickstreams/{clickstream_id}/sinks/{sink_id}/files: {}
  /bitlinks/{bitlink}/qr:
    get:
      description: Generates a QR code for a Bitlink.
      operationId: getBitlinkQRCode
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A color denoted in hexidecimal RGB format
        example: 1133ff
        explode: true
        in: query
        name: color
        required: false
        schema:
          type: string
        style: form
      - description: Removes the Bitly logo from the center of the generated QR image
        example: false
        explode: true
        in: query
        name: exclude_bitly_logo
        required: false
        schema:
          type: boolean
        style: form
      - description: Determines the image format of the returned QR code
        example: svg
        explode: true
        in: query
        name: image_format
        required: false
        schema:
          default: png
          enum:
          - png
          - svg
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitlinkQR'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Get a QR Code
      tags:
      - Bitlinks
      x-premium: true
  /bitlinks/{bitlink}/cities:
    get:
      description: Returns the city origins of click traffic for the specified link.
      operationId: getMetricsForBitlinkByCities
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            text/csv:
              example: |
                City, Subregion, Region, Country, Clicks
                New York, , NY, US, 5
              schema:
                $ref: '#/components/schemas/CityMetrics'
            application/json:
              schema:
                $ref: '#/components/schemas/CityMetrics'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Get Metrics for a Bitlink by City
      tags:
      - Bitlinks
      x-premium: true
  /domains/{domain}/register: {}
  /groups/{group_guid}/clicks/{facet}: {}
  /groups/{group_guid}/cities:
    get:
      description: Returns the geographic origins of click traffic by city for the
        specified group.
      operationId: getGroupMetricsByCities
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            text/csv:
              example: |
                City, Subregion, Region, Country, Clicks
                New York, , NY, US, 5
              schema:
                $ref: '#/components/schemas/CityMetrics'
            application/json:
              schema:
                $ref: '#/components/schemas/CityMetrics'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
      summary: Get Click Metrics for a Group by City
      tags:
      - Groups
      x-premium: true
  /bitlinks/{bitlink}/devices:
    get:
      description: Returns the device types generating click traffic to the specified
        link.
      operationId: getMetricsForBitlinkByDevices
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            text/csv:
              example: |
                Device Type, Clicks
                Desktop, 5
              schema:
                $ref: '#/components/schemas/DeviceMetrics'
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceMetrics'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Get Metrics for a Bitlink by Device Type
      tags:
      - Bitlinks
      x-premium: true
  /bitlinks/{bitlink}/override_history: {}
  /webhooks:
    post:
      description: Creates a webhook.
      operationId: createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: CREATED
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Create Webhook
      tags:
      - Webhooks
      x-premium: true
  /user/two_factor/sms: {}
  /organizations/{organization_guid}/plan_limits:
    get:
      description: Returns all plan limits and counts available for an organization.
      operationId: getPlanLimits
      parameters:
      - description: A GUID for a Bitly organization
        example: Oa1bcd234eF
        explode: false
        in: path
        name: organization_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanLimits'
          description: SUCCESS
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Get Plan Limits
      tags:
      - Organizations
  /organizations/{organization_guid}/clickstreams/{clickstream_id}/sinks/{sink_id}/files/{file_identifier}: {}
  /apps/{client_id}:
    get:
      description: Retrieve the details for the provided OAuth App client ID
      operationId: getOAuthApp
      parameters:
      - description: The client ID of an OAuth app
        example: 1234a56b789cd0e123456fg7h8901j123km45n6p
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApp'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve OAuth App
  /channels:
    get:
      description: Returns the channels available to a user.
      operationId: getChannels
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: true
        in: query
        name: group_guid
        required: false
        schema:
          type: string
        style: form
      - description: A GUID for a Bitly campaign
        example: Ca1bcd2EFGh
        explode: true
        in: query
        name: campaign_guid
        required: false
        schema:
          type: string
        style: form
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channels'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
      summary: Retrieve Channels
      tags:
      - Campaigns
      x-premium: true
    post:
      description: Creates a new channel.
      operationId: createChannel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelModify'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Create Channel
      tags:
      - Campaigns
      x-premium: true
  /organization_upgrade: {}
  /clicks: {}
  /groups/{group_guid}/umpreferences: {}
  /custom_bitlinks/{custom_bitlink}:
    get:
      description: Returns the details and history of the specified link.
      operationId: getCustomBitlink
      parameters:
      - description: A Custom Bitlink made of the domain and keyword
        example: chauncey.ly/chauncey
        explode: false
        in: path
        name: custom_bitlink
        required: true
        schema:
          type: string
        style: simple
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomBitlink'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
      summary: Retrieve Custom Bitlink
      tags:
      - Custom Bitlinks
      x-premium: true
    patch:
      description: Move a keyword (or custom back-half) to a different Bitlink.
      operationId: updateCustomBitlink
      parameters:
      - description: A Custom Bitlink made of the domain and keyword
        example: chauncey.ly/chauncey
        explode: false
        in: path
        name: custom_bitlink
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomBitlink'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomBitlink'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Update Custom Bitlink
      tags:
      - Custom Bitlinks
      x-premium: true
  /deeplinks/scrape: {}
  /groups/{group_guid}/shorten_counts:
    get:
      description: Returns all the shorten counts for a group.
      operationId: getGroupShortenCounts
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve Group Shorten Counts
      tags:
      - Groups
  /groups:
    get:
      description: Returns a list of groups in the organization.
      operationId: getGroups
      parameters:
      - description: A GUID for a Bitly organization
        example: Oa1bcd234eF
        explode: true
        in: query
        name: organization_guid
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Retrieve Groups
      tags:
      - Groups
  /organizations/{organization_guid}/payment_invoices/{invoiceID}: {}
  /organizations/{organization_guid}/invitations/{email}: {}
  /user/password: {}
  /campaigns/{campaignGUID}/addURLs:
    post:
      description: bulk add bitlinks to multiple campaign channels
      operationId: BulkAdd
      parameters:
      - description: A GUID for a Bitly campaign
        example: Ca1bcd2EFGh
        explode: false
        in: path
        name: campaign_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  type: string
              type: object
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkAddResponse'
          description: CREATED
          headers:
            X-Bsd-Error:
              description: An explanation of the DNS error received
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Reason:
              description: Rate limit exceeded
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      tags:
      - campaigns
  /organizations/{organization_guid}/clickstreams/{clickstream_id}/sinks: {}
  /bitlinks/{bitlink}/referrers_by_domains:
    get:
      description: Returns click metrics grouped by referrers for the specified link.
      operationId: getMetricsForBitlinkByReferrersByDomains
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferrersByDomains'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Get Metrics for a Bitlink by Referrers by Domain
      tags:
      - Bitlinks
  /user:
    get:
      description: Returns information for the current authenticated user.
      operationId: getUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve a User
      tags:
      - User
    patch:
      description: Update fields in the user
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Update a User
      tags:
      - User
  /bsds:
    get:
      description: Fetch all Branded Short Domains
      operationId: getBSDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BSDsResponse'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
          headers:
            X-Ratelimit-Reason:
              description: An explanation of the ratelimit received.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Get BSDs
      tags:
      - BSDs
  /launchpads/{launchpad_id}/referrers: {}
  /launchpads/{launchpad_id}/images/{image_guid}: {}
  /user/activity_logs: {}
  /bitlinks/{bitlink}/overrides: {}
  /organizations/{organization_guid}/pending_tier: {}
  /user_preferences/{preference}/value/{value}: {}
  /domains/{domain}/agreements: {}
  /organizations/{organization_guid}/contact_info: {}
  /organizations/{organization_guid}/cancel_pending_downgrade: {}
  /groups/{group_guid}/preferences:
    get:
      description: Returns preferences for the specified group.
      operationId: getGroupPreferences
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPreferences'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve Group Preferences
      tags:
      - Groups
    patch:
      description: Updates preferences for a group.
      operationId: updateGroupPreferences
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupPreferences'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPreferences'
          description: SUCCESS
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Update Group Preferences
      tags:
      - Groups
  /bitlinks/{bitlink}/clicks:
    get:
      description: Returns the click counts for the specified link in an array based
        on a date.
      operationId: getClicksForBitlink
      parameters:
      - description: A Bitlink made of the domain and hash
        example: bit.ly/12a4b6c
        explode: false
        in: path
        name: bitlink
        required: true
        schema:
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: true
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: true
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clicks'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Get Clicks for a Bitlink
      tags:
      - Bitlinks
  /user/forget: {}
  /groups/{group_guid}/bitlinks/{sort}:
    get:
      description: Returns a list of Bitlinks sorted by group.
      operationId: getSortedBitlinks
      parameters:
      - description: A GUID for a Bitly group
        example: Ba1bc23dE4F
        explode: false
        in: path
        name: group_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The type of sorting that you would like to do
        example: clicks
        explode: false
        in: path
        name: sort
        required: true
        schema:
          enum:
          - clicks
          type: string
        style: simple
      - description: A unit of time
        example: month
        explode: true
        in: query
        name: unit
        required: false
        schema:
          $ref: '#/components/schemas/TimeUnit'
        style: form
      - description: An integer representing the time units to query data for. pass
          -1 to return all units of time.
        example: 5
        explode: true
        in: query
        name: units
        required: false
        schema:
          default: -1
          type: integer
        style: form
      - description: An ISO-8601 timestamp, indicating the most recent time for which
          to pull metrics. Will default to current time.
        example: 2006-01-02T15:04:05-0700
        explode: true
        in: query
        name: unit_reference
        required: false
        schema:
          type: string
        style: form
      - description: The quantity of items to be be returned
        example: 10
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SortedLinks'
          description: SUCCESS
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
      summary: Retrieve Sorted Bitlinks for Group
      tags:
      - Bitlinks
  /organizations/{organization_guid}/billing_info: {}
  /bitlinks:
    post:
      description: Converts a long url to a Bitlink and sets additional parameters.
      operationId: createFullBitlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FullShorten'
        required: true
      responses:
        "417":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpectationFailed'
          description: EXPECTATION_FAILED
          headers:
            X-Bsd-Error:
              description: An explanation of the DNS error received
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: UNPROCESSABLE_ENTITY
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitlinkBody'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: BAD_REQUEST
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeRequired'
          description: UPGRADE_REQUIRED
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: NOT_FOUND
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporarilyUnavailable'
          description: TEMPORARILY_UNAVAILABLE
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: INTERNAL_ERROR
      summary: Create a Bitlink
      tags:
      - Bitlinks
  /tiers/{TierName}: {}
  /groups/{group_guid}/referrers: {}
  /emails: {}
  /bitlinks/{bitlink}/overrides/clicks_by_destination: {}
  /custom_bitlinks:
    post:
      description: Add a keyword (or "custom back-half") to a Bitlink with a Custom
        Domain. This endpoint can also be used for initial redirects to a link.
      operationId: addCustomBitlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomBitlink'
        required: true
      responses:
        "409":
[...]
